* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Arial, Helvetica, sans-serif;
    letter-spacing: 1px;
}

body {
    min-height: 100vh;
    max-width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    background: linear-gradient(45deg, #2afc98, #a7c957);
    color: #fff;
}

.calculator {
    padding: 15px;
    box-shadow: 0 0 15px #000;
    border: 2px solid #000; /* Dark border around the calculator */
    border-radius: 15px;
    background: #2c3e50;
}

.display input {
    width: 360px;
    border: none;
    outline: none;
    padding: 20px;
    margin: 10px;
    background: #34495e;
    font-size: 40px;
    text-align: right;
    cursor: pointer;
    color: #ecf0f1;
}

input::placeholder {
    color: #ecf0f1;
}

button {
    width: 70px;
    height: 70px;
    margin: 10px;
    background: #3498db;
    color: #fff;
    font-size: 22px;
    font-weight: 600;
    border: 0;
    border-radius: 25%;
    box-shadow: -5px -6px 15px #000;
    outline: 1px solid #2980b9;
    outline-offset: 3px;
    cursor: pointer;
}

button:active {
    background: #2980b9;
    transform: translate(2px, 2px);
}

.opr {
    color: #f1c40f;
    background: #e67e22;
    font-weight: 700;
}

#eqBtn {
    background: #e74c3c;
    font-weight: 900;
}